* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  width: 100vw;
}
header {
  flex-direction: column;
  display: flex;
  margin-top: -6px;
}
.sub-nav {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: top;
  padding: 8px;
  color: gray;
}
.head-text {
  display: flex;
  justify-content: start;
  justify-content: top;
  padding: 3px;
  margin-left: -80px;
}
.sub-nav content {
  display: flex;
}
a {
  color: grey;
  text-decoration: none;
  padding-right: 10px;
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: -25px;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: row;
  padding: 3rem;
  margin-left: -50px;
}
.hisense {
  margin-left: 6rem;
}
.menu-icon {
  margin-left: 70px;
}
.input-nav {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 40px;
  border-radius: 50px;
  border: rgb(0, 171, 165) 2px solid;
  justify-content: space-between;
}

.products-nav {
  width: 90%;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  padding: 0px 10px;
}
.navs {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #00aba5;
}
.shop-nav {
  padding-left: 50px;
}
.category-nav {
  margin-right: 30px;
  border-style: none;
}
.search {
  margin-right: -2px;
  width: 40px;
  border-radius: 25px;
  background-color: #fff;
}
select,
input,
button {
  border: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -35px;
}
.select-nav {
  display: flex;
  gap: 1px;
}

.hero-head {
  width: 100%;
  background-color: rgb(0, 171, 165);
  display: flex;
  padding: 4px;
}
.hero-head select {
  background-color: rgb(0, 171, 165);
  color: white;
  border: none;
  padding-left: 80px;
}
.hero-links {
  display: flex;
  gap: 1px;
}
.hero-links a {
  color: white;
  display: flex;
  gap: px;
  margin-left: 20px;
}
.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.hero-images {
  width: 88%;
  display: flex;
  gap: 18px;
  padding: 1rem;
}
.hero-images img {
  width: 100%;
  height: 320px;
}

.category-container {
  width: 88%;
  padding-left: 5rem;
}
.category-title {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 1rem;
  margin: 1rem;
}

.category-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.category-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding-top: 30px;
  gap: 1rem;
}
.product-details {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.product-details:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  cursor: pointer;
}

.tv-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.798);
  font-weight: bold;
}
.img-32 {
  width: 100%;
}
.tv-stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #00aba5;
  font-weight: bolder;
  font-size: larger;
}
.footer-head {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10rem;
  padding-top: 0.5rem;
  background-color: rgb(0, 171, 165);
}
.head-start {
  display: flex;
  margin-left: 80px;
  gap: 20px;
}
.head-end {
  display: flex;
  width: 30rem;
  height: 45px;
  border-radius: 50px;
  align-items: center;
  padding-left: 2rem;
  border: rgb(0, 171, 165) 2px solid;
  justify-content: space-between;
  background-color: white;
}
.telegram {
  color: #ffffffcb;
  font-size: x-large;
}
.contacts {
  display: flex;
  gap: 15px;
  color: #ffffffee;
}
.footer-input {
  width: 80%;
  border: none;
}
.Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 62, 72);
  width: 20%;
  font-size: 15px;
  color: white;
  height: 100%;
  padding: 0px 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  flex-direction: row;
}
.Signup:hover {
  cursor: pointer;
}
.fon-head img {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem;
  padding-top: 0.5rem;
  border: 1px transparent solid;
  background-color: rgb(0, 171, 165);
  width: 160px;
  padding: 0.5rem;
}
.footer-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  padding-left: 8rem;
}
.img-hisence {
  margin-bottom: 25px;
}
.hisence-details {
  display: flex;
  padding: 3rem, 0px;
  gap: 30px;
}
.headng {
  padding-bottom: 25px;
}
.help {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  padding-top: 1rem;
}
.Find-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.About-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Customer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Reserved {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyrights {
  display: flex;
  margin-left: 30px;
  gap: 10px;
}
.footer-imgs {
  margin-right: 5rem;
}

/* Media-Quareis */
@media (max-width: 1499.98px) {
  .fon-head {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .fon-head {
    display: none;
  }
}

@media (max-width: 929.98px) {
  .fon-head {
    display: block;
    margin-top: 1rem;
  }
  .hero-img {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
    margin-top: -0.5rem;
  }

  .hero-head {
    display: none;
    padding-top: 0.5rem;
  }

  .hero-images {
    width: 100%;
    display: flex;
    gap: 18px;
    padding-top: 0.5rem;
    padding: 1.5rem;
  }

  .hero-images a img {
    width: 90px;
    height: 100px;
  }
  header {
    display: none;
  }
  .footer-head {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  .footer-head {
    display: none;
  }
}
@media (max-width: 619px) {
  .fon-head {
    display: block;
  }

  .hero-head {
    display: none;
  }
  .Reserved {
    display: none;
  }
  .hero-section {
    padding-top: 1rem;
  }
  header {
    display: none;
  }
  .category-container {
    width: 88%;
    padding-left: rem;
  }
  .hisence-details {
    padding-top: 3rem;
  }
  .img-hisence {
    margin-left: -1rem;
  }
  .help {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
    padding-top: 1rem;
    margin-left: -4.5rem;
  }
  .category-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding-top: 30px;
    gap: 1rem;
  }
  .footer-head {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  .head-end {
    display: flex;
    width: 17rem;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    margin-left: 2rem;
    border: rgb(0, 171, 165) 2px solid;
    justify-content: space-between;
    background-color: white;
    margin-top: 1.5rem;
  }
  .hisence-details {
    display: none;
  }
  .telegram {
    color: #ffffffcb;
    font-size: larger;
  }
  .contacts {
    display: flex;
    gap: 15px;
    font-size: 15px;
    color: #ffffffee;
  }
  .footer-input {
    width: 78%;
    border: none;
  }
  .Signup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 62, 72);
    width: 17%;
    font-size: 15px;
    color: white;
    height: 100%;
    padding: 0px 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    flex-direction: row;
  }
  .footer-head {
    display: none;
  }
  .category-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 1.5rem;
  }
  .hero-images img {
    width: 340px;
  }
  .a,
  img {
    width: 135px;
  }
}
@media (max-width: 479.986px) {
  .fon-head {
    display: block;
  }
  .hero-section {
    margin-top: 1rem;
  }
  .hero-head {
    display: none;
  }
  .Reserved {
    display: none;
  }
  header {
    display: none;
  }
  .a,
  img {
    width: 1px;
  }
  .help {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    padding-top: 1rem;
    margin-left: -3rem;
  }
  .category-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
  }
  .category-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1rem;
    padding-top: 30px;
  }
  .hisence-details {
    display: block;
  }
  .footer-head {
    display: none;
  }
  .footer-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
  }

  .hisence-details {
    display: none;
  }
  .head-end {
    display: flex;
    width: 17rem;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    margin-left: 2rem;
    border: rgb(0, 171, 165) 2px solid;
    justify-content: space-between;
    background-color: white;
    margin-top: 2.5rem;
  }
  @media (max-width: 398px) {
    .fon-head {
      display: none;
    }
    .Reserved {
      display: none;
    }
  }
  .help {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    padding-top: 1rem;
    margin-left: -3rem;
  }
}
@media (max-width: 280px) {
  .fon-head {
    display: block;
  }
  .hero-section {
    margin-top: 1rem;
  }
  .hero-head {
    display: none;
  }
  header {
    display: none;
  }
}
